h1 {
  font-family: sans-serif;

}

h2 {
  font-family: serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Gelasio', serif;
  font-weight: 400;
}

.para1 {
  text-transform: uppercase;
  font-style: italic;
  text-indent: 100px;
  text-decoration: line-through;
  letter-spacing: 5px;
}

.para2 {
  text-align: justify;
  text-shadow: red 1rem 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
