html, body, p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid red;
}

p {

  font-size: 4rem;

}
