div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 45%;
  background-image: url("../challenge_one/puppy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;

}

img {
border: 10px groove orange;
display: inline-block;
padding: 20px;
margin: 50px;

}

.dogone{
  border: 5px dashed red;
}

.dogtwo {
  border: 10px dotted blue;
}

.dogthree {
  border: 100px double green;
}
